window {
    font-size: 24pt;
    font-family: "Jetbrains Mono";
    background-color: rgba(30, 30, 46, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    background-color: rgba(223, 235, 255, 0.93);
    transition: all 0.2s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    border-radius: 5%;
	border:0px;
	outline-style: none;
    margin: 20;
    color: rgba(20, 29, 34, 1);
}

button:focus {
    background-size: 50%;
	border: 0px;
	outline-style: none;
}

button:hover {
    font-size: 48;
    background-color: rgba(180, 207, 255, 0.601); 
    background-size: 30%;
    margin: 50px;
    border-radius: 20%;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
